@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');


@import "tailwindcss";


@theme{
    --font-outfit: 'Outfit', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-syne: 'Syne', sans-serif;
    --font-raleway: 'raleway', sans-serif;
    
    --color-primary: #FF7A18;
    --color-main: #1E88E5;
    
    /* LIGHT THEME */
    --color-light: #FAFAFA;
    --color-light-muted: #687280;
    --color-light-card: #FFFFFF;
    --color-border-light: #E5E7EB;

    /* DARK THEME */
    --color-bg-dark: #0F172A;
    --color-dark-card: #1E293B;
    --color-dark-muted: #1E88E5;
    --color-border-dark: #334155;

    /* RESPONSE */
    --success: #9CAF88;
    --warning: #F9D77E;
    --error: #E07A5F;
    --info: #6B5B95;

    --color-plum: #6B4E71;
    --color-plum-dark: #5A3F5F;
    --color-plum-light: #8B6E91;
    --color-coral: #E8927C;
    --color-coral-dark: #D67B63;
    --color-coral-light: #F5A894;

     /* Mood Colors */
    --mood-cozy: #D4A574;
    --mood-dark: #6B5B95;
    --mood-light: #F9D77E;
    --mood-thoughtful: #5B8A72;
    --mood-adventure: #E07A5F;
    --mood-romantic: #C97B84;
  
  }

body{
    background-color: #F3F4F6;
}

::-webkit-scrollbar {
    @apply hidden;
}
